*{
    padding: 0;
    margin: 0;
    font-family: 'Cabin', sans-serif;
}

nav{
    display: flex;
    height: 60px;
    background-color: #272727;
    align-items: center;
    justify-content: center;
    top: 0;
    position: sticky;
}

.logo{
    display: flex;
}

.logo img{
    padding: 10px;
    width: 150px;
}

.iconsMobile{
    display: none;
}
.container{
    width:100%;
    min-height: 100vh;
    padding: 5%;
    background-position: top;
    background-size: cover;
    align-items: top;
    justify-content: top;


}
.search-bar{
    width: 100%;
    max-width: 600px;
    display: flex;
    align-items: center;
    border-radius: 60px;
    padding: 10px 20 px;
    backdrop-filter: blur(4px) saturate(180%);
}
.search-bar input{
    flex:1;
    border:0;
    outline: none;
    padding: 24px 20px;

}
.search-bar button img{
    border:0;
    border-radius: 0;
    width:60px;
    height: 60px;
    cursor: pointer;
    background: white;
}

.search{
    display: flex;
    background-color: white;
    width: 100px;
    height: 100px;
    border-radius: 5px;
    margin: 40px;
}


.search input{
    height: 36px;
    border-radius: 6px;
    font-size: 50px;
    width: 100%;
    padding: 0 16px;
    border: 0;
    outline: none;
}

.btn{
    border: 0;
    cursor: pointer;
    background: transparent;
    padding: 6px 10px;
}
.icons{
    margin: 10px;
}

.btn img{
    width: 22px;
}

#profile img{
    width: 30px;
}

#cart img{
    width: 40px;
}

.items{
    margin: 10px;
    width: 48.2%;
    display: inline-block;
    box-sizing: border-box;
    border: 2px solid #272727;
}

.images{
    width: 100%;
}

.buttons{
    width: 100%;
    border: 0;
    cursor: pointer;
    color: #272727;
    height: 50px;
    font-size: 25px;
    background-color: #c9d4e1;
}

footer{
    background-color: #272727;
    color: white;
    text-align: center;
    padding: 25px;
}